@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Open+Sans+Condensed:300,700);
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

main {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header header header" 
        ". title-header title-count title-time .";
    margin-left: 250px;
}

.forum-header {
    grid-area: header;
}

.forum-header h1 {
    color: #00FFFF;
    padding: 3rem 3rem 1rem 3rem;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.forum-header h5 {
    color: white;
    padding: 0 3rem 3rem 3rem;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.forum-header h5 a {
    color: var(--PURPLE);
    text-decoration: none;
}


.create-thread {
    margin-top: 50px;
    margin-left: 250px;
}

.forum-title {
    grid-area: title-header;
    margin-left: 12.5%;
    width: 75%;
    border-radius: 10px;
    border: 2px solid white;
    padding: 2rem;
    color: var(--OFFWHITE);
    background: #303030;
    border-top-left-radius: 0.4rem;
    text-align: center;
    justify-content: space-between;
    display: flex;
}

/* THREAD LINKS */

.threads-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 3fr 2fr;
    grid-template-areas: ". title count time .";
    margin-left: 125px;
    background: #1a1a1a;
}

.post-title {
    grid-area: title;
    padding: 1rem 1rem 1rem 3rem;
}

.post-title a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    
}

.post-title a:hover {
    text-decoration: underline;
}

.post-count {
    grid-area: count;
    padding: 1rem;
    text-align: center;
}

.time-stamp {
    grid-area: time;
    padding: 1rem;
    text-align: center;
}

.odd {
    color: #00FFFF;
    background: #1a1a1a;
}

.odd a {
    color: #00FFFF;
}

.even {
    background: var(--DARKPURPLE);
    color: white;
}

.even a {
    color: white;
}

.dk-footer{
    display: none;
}